body{
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
color: #434455;
background-color: #FFFFFF;
}


/*=================HEADER======================*/

.header{
background-color: #FFFFFF;
}
.header-nav {
background-color: #FFFFFF;
}
.header-logo span{
color: #4D5AE5;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.16;
letter-spacing: 0.03em;
}
.header-logo {
color: #2E2F42;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.16;
letter-spacing: 0.03em;
}
.header-menu-list {
color:  #2E2F42;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
}
.header-menu-item {
}
.header-menu-link {
color:#2E2F42;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
}
.header-menu-link:hover,
.header-menu-link:focus {
color: #404bbf;
}
.header-address {
}
.header-soc-list {
}
.header-soc-item {
}
.header-soc-link {
color:#434455;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}
.header-soc-link:hover,
.header-soc-link:focus {
    color: #404bbf;
}
/*=======================================*/



/*==================effective=====================*/
.effective {
    background-color: #2E2F42;
}

.effective-title {
    color: #FFF;
        text-align: center;
        font-size: 56px;        
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
}

.effection-btn {
    color: #FFF;
    background-color: #4D5AE5;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
}

.effection-btn:hover,
.effection-btn:focus{
    background-color: #404bbf;
}
